<% provide(:title,'New Team') %>
<div class="container">
  <div class="span6 offset3">
    <%= form_for(@team) do |f| %>

      <%= render 'shared/error_messages' %>
      
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :description %>
      <%= f.text_area :description %>

      <%= f.label :user_tokens, "Members" %><br />  
      <%= f.text_field :user_tokens %>
      <hr />
      <%= f.submit "Create New Team", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>