<% provide(:title,@team.name) %>

<h1><%=@team.name %>  </h1>
<p><%= @team.description %> </p>
<strong>Members</strong>
    <%= form_for @team do |f| %>
  <%= f.autocomplete_field :user_name, autocomplete_user_name_teams_path %>
<% end %>
	<div>
		<ul>

		<% @team.users do |user| %>
		<li><%= user.name %></li>
		<% end %>
		</ul>
	</div>