<div>
<%= form_for @user, :html => {:class => "form-horizontal span12"} do |f| %>
  <fieldset>
  <%=render 'shared/error_messages', object: f.object %>
    <% if @user.id %>
      <legend>Edit <%= @user.name %>  details</legend>
    <% else %>
      <legend>Add new user</legend>
    <% end %>
    <div class="control-group">
      <%= f.label :name , :class =>"control-label"%>
      <div class="controls">
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="control-group">
      <%=f.label :email, :class => "control-label" %>
      <div class="controls">
        <%=f.text_field :email %>
      </div>
    </div>

    <div class="control-group">
      <%=f.label :phone , :class => "control-label"%>
      <div class="controls">
        <%=f.text_field :phone %>
      </div>
    </div>

    <div class="control-group">
      <%=f.label :identifier, :class => "control-label" %>
      <div class="controls">
        <%=f.text_field :identifier %>
      </div>
    </div>

    <div class="control-group">
      <%=f.label :password, :class => "control-label" %>
      <div class="controls">
        <%=f.password_field :password %>
      </div>
    </div>

    <div class="control-group">
      <%=f.label :password_confirmation, :class => "control-label" %>
      <div class="controls">
        <%=f.password_field :password_confirmation %>
      </div>
    </div>
    <hr />
    <div class="controls">
      <%= f.submit "Update",class:"btn btn-primary" %>
      <%= link_to "Back", goback, class:"btn btn-inverse" %>
    </div>
  </fieldset>
<% end %>
</div>