<div class="btn-group ">
  <%= link_to raw("<i class='icon-user icon-white'></i> User"), user, :class => "btn btn-inverse" %>
  <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
  	<li><%= link_to "Approve",'#' %></li>
  	<li><%= link_to "Delete","#" %></li>
  	<li class="divider"></li>
    <li><%= link_to "Make superadmin" ,'#'%></li>
    <li><%= link_to "Make admin",'#' %></li>
    <li><%= link_to "Make poweruser",'#' %> </li>
  </ul>
</div>