<% provide(:title,"Users") %>
<h1>User List</h1>
<div class="pagination-centered">
<%= will_paginate %>
</div>
<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <td>Sl No.</td>
      <td>Name</td>
      <td>Email</td>
      <td>Phone</td>
      <td>Identifier</td>
      <td>Level</td>
      <% if current_user.admin? %>
      <td>More</td>
      <% end %>  

    <tr>
  <thead>
  <tbody>
    <% counter = @counterstart %>
    <% @users.each do |user| %>
    <tr>
      <td><%= counter %></td>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.phone %></td>
      <td><%= user.identifier %></td>
      <td><%= user.role %></td>
      <% if current_user.admin? %>
      <td><%= render 'users/user_edit_button', user: user %></td>
      <% end %>
      <% counter+=1 %>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="pagination-centered">
<%= will_paginate %>
</div>
