<% provide(:title,"Users") %>

<h1>User List</h1>
<table class="table table-striped table-hover table-bordered" id="user-table">
  <thead>
    <tr>
      <th>Sl No.</th>
      <th class="hidden-desktop hidden-tablet visible-phone">Details</th>
      <th class="hidden-phone">Name</th>
      <th class="hidden-phone">Email</th>
      <th class="hidden-phone">Phone</th>
      <th class="hidden-phone">Identifier</th>
      <th class="hidden-phone">Level</th>
      <th>More</th>
    </tr>
  </thead>
  <tbody>
    <% counter = @counterstart %>
    <% @users.each do |user| %>
    <tr>
      <td><%= counter %></td>
      <td class="hidden-desktop hidden-tablet visible-phone"><%=link_to user.name, user%><br/> <%= user.email %><br/> <%= user.phone %></td>
      <td class="hidden-phone"><%=link_to user.name, user%></td>
      <td class="hidden-phone"><%= user.email %></td>
      <td class="hidden-phone"><%= user.phone %></td>
      <td class="hidden-phone"><%= user.identifier %></td>
      <td class="hidden-phone"><%= user.role %></td>
      <% if current_user.admin? %>
      <td><%= render 'users/user_edit_button', user: user %></td>
      <% else %>
      <td><%= link_to "User", user, class:"btn btn-primary" %></td>
      <% end %>
      <% counter+=1 %>
    </tr>
    <% end %>
  </tbody>
</table>

