<% provide(:title,@user.name) %>

<h1><%=@user.name %>  <small><%= @user.identifier %></small><%= render 'users/user_edit_button', user: @user %></h1>
<em>is <%=@user.role %></em>
<address>
	<strong><%=@user.email %></strong><br/>
	<%= @user.phone %><br />
</address>
