<% provide(:title,@user.name) %>

<h1><%=@user.name %>  <small><%= @user.identifier %></small>
	<% if @user.admin? %>
	<%= render 'users/user_edit_button', user: @user %>
	<% end %>
    </h1>
<em>is <%=@user.role %></em>
<hr />
<address>
	<strong><%=@user.email %></strong><br/>
	<%= @user.phone %><br />
</address>
