<div class="modal-header">
    <a href="#" data-dismiss="modal" aria-hidden="true" class="close">×</a>
    <h3><%= @contact.name %> <small><%= @contact.designation %></h3>
  </div>
  <div class="modal-body center">
      <p>
      Mobile : <a href="tel:<%= @contact.mobile %>"><%=@contact.mobile %></a><br/ >
      Landline : <a href="tel:<%= @contact.landline %>"><%=@contact.landline %> </a> <br/>
      Email : <a href='mailto:<%=@contact.email%>'><%= @contact.email %></a>
      <br/>
      Address :
      <br/>
      <address>
        <%= simple_format(@contact.address) %>
      </address></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <%= link_to "Edit" , edit_company_contact_path(@company, @contact), class: "btn btn-primary", data: {company_id: @contact.company.id} %>
  </div>