<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Designation</Data></Cell>
        <Cell><Data ss:Type="String">Address</Data></Cell>
        <Cell><Data ss:Type="String">Email</Data></Cell>
        <Cell><Data ss:Type="String">Mobile Number</Data></Cell>
        <Cell><Data ss:Type="String">Landline</Data></Cell>
        <Cell><Data ss:Type="String">Default Contact</Data></Cell>
        <Cell><Data ss:Type="String">Active</Data></Cell>
        

      </Row>
      <% @contacts=Contact.all %>
    <% @contacts.each do |contact| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= contact.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%=  contact.desination %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contact.address %></Data></Cell>
        <Cell><Data ss:Type="String"><%=  contact.email %></Data></Cell>
        <Cell><Data ss:Type="String"><%=  contact.mobile %></Data></Cell>
        <Cell><Data ss:Type="String"><%=  contact.landline %></Data></Cell>
        <Cell><Data ss:Type="String"><%=  contact.default %></Data></Cell>     
        <Cell><Data ss:Type="String"><%=  contact.active %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
