<% provide(:title,@contact.name) %>

  <h1><%= @contact.name %><small><b></b><%= @contact.designation %> @ 
    <% if @contact.company %>
    <%=@contact.company.name%>
    <% else %>
    <%= "unassigned" %>
    <% end %></small></h1>
  <hr />
  <b>Landline:</b>
  <%= @contact.landline %>
</p>

<p>
  <b>Mobile:</b>
  <%= @contact.mobile %>
</p>

<p>
  <b>Email:</b>
  <%= @contact.email %>
</p>

<p>
  <b>Address:</b>
  <%= @contact.address %>
</p>
<p>
 


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
