<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @contact.name %>
</p>

<p>
  <b>Designation:</b>
  <%= @contact.designation %>
</p>

<p>
  <b>Landline:</b>
  <%= @contact.landline %>
</p>

<p>
  <b>Mobile:</b>
  <%= @contact.mobile %>
</p>

<p>
  <b>Email:</b>
  <%= @contact.email %>
</p>

<p>
  <b>Address:</b>
  <%= @contact.address %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
