<% provide(:title,@contact.name) %>
<div class="row-fluid">
<span class="span12">
<h1><%=@contact.name %>  <small><%= @contact.designation %></small></h1>
<hr />
<address>
  <strong><%=@contact.email %></strong><br/>
  <%= @contact.mobile %><br />
  <%= @contact.landline %><br />
  <%= simple_format(@contact.address) %>
</address>
</span>
</div>
