

<% provide(:title,"Companies") %>
<h1>Companies 
    <%= begin
          if params[:team_id] 
            "handled by #{Team.find(params[:team_id]).name}"
          elsif params[:user_id]
            "handled by #{User.find(params[:user_id]).name}"
          else
            ""
          end
        rescue
          ""
        end
      %>
  <small><% if current_user.poweruser?%><%=link_to "Add a new Company",new_company_path, class: "btn btn-inverse pull-right"%><%end%></small></h1>

<p>
  Download:
  <%= link_to "CSV", companies_path(format: "csv") %> |
  <%= link_to "Excel", companies_path(format: "xlsx") %>
</p>
<hr />
<table class="table table-striped table-hover table-bordered" id="company-table">
  <thead>
    <tr>
      <th class="hidden-desktop hidden-tablet visible-phone">Details</th>
      <th class="hidden-phone">Name</th>
      <th class="hidden-phone hidden-tablet hidden-desktop">Location</th>
      <th class="hidden-phone">Status</th>
      <th class="hidden-phone">SPO Contact</th>
      <th class="hidden-phone">Last Contact</th>
      <th class="hidden-phone">HR Name</th>
      <th class="hidden-phone">HR Contact</th>
    </tr>
  </thead>
  <tbody>
    <% @companies.each do |company| %>
    <tr>
      <td class="hidden-desktop hidden-tablet visible-phone"><%=link_to company.name, company%> 
        <%= company.status_text %> 
      </td>
      <td class="hidden-phone"><%= link_to company.name, company%></td>
      <td class="hidden-phone hidden-tablet hidden-desktop"><%= company.location %></td>
      <td class="hidden-phone"><%= company.status_text  %></td>
      <td class="hidden-phone">
        <% begin %>
          <%= company.poc_name%>
        <% rescue %>
          <%= "No SPO Contact" %>
        <% end %>
      </td>
      <td class="hidden-phone">
        <% begin %>
          <% time=company.logs.order('created_at DESC').first.created_at %>
          <%= "#{time.strftime('%d %b %y')}
               <br/>#{time_ago_in_words(time)}".html_safe %>
        <% rescue %>
          <%= "Not contacted" %>
        <% end %>
      </td>
      <td class="hidden-phone">
        <% begin %>
          <%= company.default_contact.name %>
        <% rescue %>
          <%= "No default HR" %>
        <% end %>
      </td>
      <td class="hidden-phone">
        <% begin %>
          <% contact=company.default_contact %>
          <%= "<a href='tel: #{contact.mobile}'>#{contact.mobile}</a> (M)
          <br />
          <a href='tel:#{contact.landline}'>#{contact.landline}</a> (O)
          <br/>
          <a href='mailto:#{contact.email}'>#{contact.email}</a>".html_safe %>
        <% rescue %>
          <%= "No HR Contact" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>



