<% provide(:title,@company.name) %>
<div class="container-fluid">
  <div class="row-fluid span12">
  <div class="span4" id="section1">
    <!-- Heeader with company details -->
    <div class="span12">
      <h1 class="heading">
        <%= @company.name %>
        <%= render 'companies/editbutton', object: @company, right: false %>
        <%= render 'companies/statuslist', object: @company %>
      </h1> 
      <div>
        <%= link_to "#{@company.url}" ,@company.url %>
      </div>
      <div>
          <p><%= @company.phone%></p>
          <p><%= @company.address %></p>
      </div> 
      <div>
          <p>Point of Contact :
            <%= if @company.pointofcontact  
                  link_to @company.pointofcontact.name, @company.pointofcontact 
                end
            %></p>
          <p>Managed by : 
            <%= if @company.manager 
                  link_to @company.manager.name, @company.manager 
                end
            %></p>
      </div>
      <hr /> 
    </div>

    <!-- Contact Details -->
    <div>
      <% unless @company.contacts.empty? %>
        <h4 class="heading">Contact</h4>
        <p>
          <% if @default && @default.active %>
            <strong><%= link_to @default.name, show_modal_company_contact_path(:company_id => @company.id,:id => @default.id), {:remote => true, 'data-controls-modal' =>  "contact-modal",'data-toggle'=>'modal', 'data-target'=>'#contact-modal'} %></strong>
            <%= "(#{@default.designation})" %> 
            <span class="badge badge-info pull-right">Default</span>
          <br><tel><%= "(M) #{@default.mobile}, (Off) #{@default.landline}" %>
          <br><a href='mailto:<%=@default.email%>'><%= @default.email %></a></p>
        <% else %>
        <%= "Set any of the contacts below as default" %>
        <% end %>
          <h5 class="heading">All contacts <small><%= link_to "Add Contact", new_company_contact_path(:company_id => @company.id),:class => "pull-right" %> </small></h5>
        <% # @i=0 %>
        <% @company.contacts.each do |contact| %>
           <% unless contact.deleted? %>
             <%= link_to contact.name, show_modal_company_contact_path(:company_id => @company.id,:id => contact.id), {:remote => true, 'data-controls-modal' =>  "contact-modal",'data-toggle'=>'modal', 'data-target'=>'#contact-modal'} %><br/>
           <% end %>
        <% end %>
      <% else %>
       <h1> </h1><h1></h1>
        <div class="pagination-centered">
          <%= link_to "Add Contact", new_company_contact_path(:company_id => @company.id),:class => "btn btn-inverse" %> 
        </div>
      <% end %>
      <br/>
    </div>
    
    <hr />
    <div>
        <h4>Teams with access </h4>
        <%= render 'companies/updateteam', object: @company%>
    </div>
  </div>
  <div class="span8">
    <div class="span12">
      <h4>About the company</h4>
        <%= render 'companies/updatedescription', object: @company%>
    </div>
    <hr />
    <div>
      <%= render 'companies/newlog' , object: { @company => @company, @newlog => @newlog, @contacts => @contacts } %>
    </div>
    <div>
      <% if @company.logs.any? %>
          <div class="logs">
            <%= render @logs %>
          </div>
        <%= will_paginate @logs %>
        <% end %>
    </div>   
      
  </div>
  </div>
</div>
<div class="modal hide fade" id="contact-modal">
  <div class="modal-header">
    <a a href="#" data-dismiss="modal" aria-hidden="true" class="close">×</a>
    <h3>Loading...</h3>
  </div>
  <div class="modal-body center">
      <%= image_tag "loading.gif" %>
  </div>
  <div class="modal-footer">&nbsp;</div>

</div>


