<% provide(:title,@company.name) %>

<h1><%=@company.name %>  <small><%= @company.identifier %></small>
	
    </h1>
<em> <%=@company.location %></em>
<address>
	<strong><%=@company.url %></strong><br/>
	<%= @company.address %><br/>
	<%= @company.phone %><br />
	<% if current_user.admin?%>
	<%= link_to "Edit Profile",edit_company_path(@company) %>
	<%end%>
</address>

