<% provide(:title,@company.name) %>
<div class="container-fluid">
  <div class="row-fluid">
    <span class="span6">
      <h1 class="heading">
        <%= @company.name %>
      </h1>
      <div>
        <%= link_to "#{@company.url}" ,@company.url %>
      </div>
      <div>
          <p><%= @company.phone%></p>
          <p><%= @company.address %></p>
      </div> 
      <div>
         <p>Point of Contact :<%= link_to @company.pointofcontact.name, @company.pointofcontact %></p>
         <p>Managed by <%= link_to @company.manager.name, @company.manager %>
      </div> 
    </span>
    <span class="span6">
      <% if @default %>
        <h4 class="heading">Contact</h4>
        <p>
          <strong><%= link_to @default.name, show_modal_company_contact_path(:company_id => @company.id,:id => @default.id), {:remote => true, 'data-controls-modal' =>  "contact-modal",'data-toggle'=>'modal', 'data-target'=>'#contact-modal'} %></strong>
          <%= "(#{@default.designation})" %> 
          <span class="badge badge-info pull-right">Default</span>
        <br><tel><%= "(M) #{@default.mobile}, (Off) #{@default.landline}" %>
        <br><a href='mailto:<%=@default.email%>'><%= @default.email %></a></p>
        <h5 class="heading">All contacts <small><%= link_to "Add Contact", new_company_contact_path(:company_id => @company.id),:class => "pull-right" %> </small></h5>
        <% @i=0 %>
        <% @company.contacts.each do |contact| %>
           <% unless contact.default %>
             <%= link_to contact.name, show_modal_company_contact_path(:company_id => @company.id,:id => contact.id), {:remote => true, 'data-controls-modal' =>  "contact-modal",'data-toggle'=>'modal', 'data-target'=>'#contact-modal'} %>
           <% end %>
        <% end %>
      <% end %>
      <br/>
      
      
    </span>
    
  </div>
  <hr />
   
      </div>
      <div class="row-fluid">
        <div class="span3">
          <%= form_for @company , 
            :url => { :action => "updateteams", :id => @company.id } do |f| %>
            <%= f.label :team_tokens, "Teams Handling" %>
            <%= f.text_field :team_tokens, 
            "data-pre" => @company.teams.map(&:attributes).to_json %>
            <%= f.hidden_field :id %>
            <%= f.submit "Save teams",class:"btn btn-primary pull-right" %>
          <% end %> 
        </div>
        <span class="span9">
          <textarea name="" class="span12" placeholder="Placeholder"></textarea>
          <button class="btn pull-right">Button</button>
        </span>
      </div>
      <div class="row-fluid row-fluid-1">
        <span class="span6">
          <h3 class="heading">Contact Log&nbsp;</h3>
        </span>
        <span class="span6">
          <button class="btn btn-primary pull-right">Add &nbsp;log entry +</button>
        </span>
      </div>
      <div class="row-fluid">
        <span class="span12">
          <div class="row-fluid">
            <span class="span12">
              <p>Contacted Ms. Amrita Singh by Abhimanyu at 3:52 PM March 12 (3 days ago)</p>
              <a class="dom-link pull-right" href="#">Edit</a>
              <span class="label label-success">Positive</span>
            </span>
          </div>
          <div class="row-fluid">
        <span class="span12">Lorem ipsum In cupidatat ullamco tempor nisi sint eu dolor amet sint exercitation non elit tempor et ullamco occaecat esse nulla non tempor sint eiusmod elit consequat id in proident dolor irure nostrud est nisi cupidatat non laborum nisi laboris ut culpa labore in in mollit est sit quis non enim sed eu labore dolore ullamco mollit dolore laboris non ea minim Ut Duis anim cupidatat elit ad aliquip veniam sed adipisicing cillum in irure et id nisi dolor nisi fugiat dolor deserunt cupidatat reprehenderit anim nulla laborum consequat occaecat cillum pariatur est Ut consequat sint nostrud cillum dolore voluptate laborum dolor ea incididunt cillum magna officia et sed velit occaecat pariatur cupidatat do ut nostrud aliqua dolore id enim Ut sint dolor incididunt non consequat pariatur Excepteur minim cillum laborum occaecat ullamco laborum nulla aliquip nisi pariatur nulla dolor id dolor ad culpa dolore commodo.</span>
        </div>
        </span>
      </div>
      
    </div>
<div class="modal hide fade" id="contact-modal">
  <div class="modal-header">
    <a href="#" class="close">×</a>
    <h3>Loading...</h3>
  </div>
  <div class="modal-body center">
      <%= image_tag "loading.gif" %>
  </div>
  <div class="modal-footer">&nbsp;</div>
</div>

