<div class="logentry">
  <strong> 		  
        <%= if log.user_id 
              begin   
  		          User.find(log.user_id).name  
  		        rescue 
  		          "Previous SPO Person"
  		        end
            else
              "SPO"
            end
        %>
  </strong>                                   
  		     and
  <strong>
  		 <%= if log.contact_id
             begin
  		 		     Contact.find(log.contact_id).name
  		 	     rescue
               "Deleted Contact"
             end
           else
            "Company"
  		 	 end                          %>	
  </strong>				 
              
  <div class="timestamp pull-right"> 
         <%=" #{log.created_at} ( #{time_ago_in_words(log.created_at)})" %>
  </div> 
  <div class="content"><%= log.content %></div>
  <%= link_to "Edit" , edit_log_path(log) %>
  <%= link_to "Delete",log,method: :delete, data: {confirm: "This will permanently delete the log, the action CANNOT be undone, are you sure ?"} %>
</div>