<!DOCTYPE html>
<html>
<head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "autocomplete-rails.js" %>
    <!--<%= stylesheet_link_tag "application", "token-input" %>  
    <%= javascript_include_tag :defaults, "jquery.tokeninput" %> -->
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
</head>
<body>
<div class="container-fluid">
<%= render 'layouts/header' %>
</div>
<div class="container-fluid">
<div class="row-fluid">
	<% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
</div>

<%= render 'layouts/footer' %>
<%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>
