<!DOCTYPE html>
<html>
<head>
    <title><%= yield(:title) %> | Trackr</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="container">
    <%= yield %>
</div>
<%= render 'layouts/footre' %>
<%= debug(params) if Rails.env.development? %>
</body>
</html>
